In [1]:
import math
import re
import random
from datetime import datetime, date, time, timedelta
from dateutil.relativedelta import relativedelta

import requests
import xml.etree.ElementTree as ET 
import xml.dom.minidom
from bs4 import BeautifulSoup
from selenium import webdriver

from IPython.display import Image
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

from pykrx import stock
import FinanceDataReader as fdr
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import FinanceDataReader as fdr
import finterstellar as fs


import talib.abstract as ta
from talib import MA_Type

import statistics as ss

import statsmodels.api as sm # 원래 여깄었는데
from statsmodels.regression.linear_model import OLS # 여기에도 추가됨
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

import scipy as sp
from scipy import stats
from scipy.stats import skew, kurtosis
from scipy.cluster.hierarchy import linkage, dendrogram, cut_tree, fcluster

# from imblearn.under_sampling import TomekLinks

# from sklearn.datasets import load_iris, load_wine, load_diabetes#, load_boston
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler, RobustScaler, Binarizer
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, StratifiedKFold, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.linear_model import LogisticRegression # 이름은 회귀인데 시그모이드함수를 이용한 분류모델임 분류분류분류
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
# from sklearn.ensemble import AdaBoostRegressor, VotingRegressor, RandomForestRegressor
# from sklearn.ensemble import VotingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.svm import SVR, SVC
from sklearn.cluster import KMeans, DBSCAN#, hierarchical
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import mean_squared_error, mean_squared_log_error, r2_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.metrics import precision_score, precision_recall_curve#, plot_precision_recall_curve
from sklearn.metrics import roc_auc_score, roc_curve#, plot_roc_curve
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import silhouette_samples, silhouette_score

from xgboost import XGBRegressor, XGBClassifier
from lightgbm import LGBMRegressor, LGBMClassifier
# from catboost import CatBoostRegressor, CatBoostClassifier     # pip install catboost

import optuna

import tensorflow as tf
import keras

from keras import backend as K

from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, MaxPool2D, Flatten
from keras.preprocessing.image import ImageDataGenerator

from keras import activations as act
from keras import optimizers as opt
from keras import losses as loss
from keras import metrics

from keras.initializers import GlorotNormal  #Xavier

SEED = 0
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)
keras.utils.set_random_seed(SEED)

import warnings
warnings.filterwarnings(action='ignore')

import bt

from sqlalchemy import create_engine, MetaData, text, Float, Table, Column, Integer, String
from sqlalchemy.engine import reflection
import cx_Oracle

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import plotly.graph_objects as go
from plotly.subplots import make_subplots

#-------------------- 차트 관련 속성 (plotly 화 - 분석시에만 키기) -----------
pd.options.plotting.backend = "plotly"

#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

pd.set_option('max_colwidth', None)
plt.rcParams['font.family']

import json

findfont: Font family ['NanumBarunGothic'] not found. Falling back to DejaVu Sans.

In [2]:
def to_db(df, name='testDB'): # 데이터프레임, DB 테이블명
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
    try:
        query = f"""select * from {name}"""
        pd.read_sql_query(text(query), con=con)
        print('이미있음 ㅎㅎ')
        
    except:
        obj_cols = df.select_dtypes(include=[float]).columns.values.tolist()
        df.to_sql(name=name, con=engine, dtype={c: Float for c in obj_cols})
        # 메타데이터 한 줄씩 추가
        print('잘들어감 ㅎㅎ')
        
    con.close()
    engine.dispose()

In [3]:
def to_df(table_name_list='US_UNEMPLOYMENT_RATE', start_date=None, end_date=None, rule='', bool_=False, drop=True, nan=False):
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
    df = pd.DataFrame()
    
    if type(table_name_list)==str:
        temp_list = []
        temp_list.append(table_name_list)
        table_name_list = temp_list
    
    for table_name in table_name_list:
        query = f"""select * from {table_name}"""
        temp = pd.read_sql_query(text(query), con=con)
        temp = temp.drop_duplicates(temp.columns[0], keep='first')
        temp = temp.set_index(temp.columns[0])
        temp.index.name = ''
        temp.columns = [table_name]

        if rule!='':
            temp = temp.resample(rule=rule).mean()

        df = pd.concat([df, temp], axis=1)

    con.close()
    engine.dispose()
    
    df = df.loc[start_date:end_date].sort_index()
    if drop==True:
        df = df.dropna()
    if bool_==True:
        df[df.columns] = False
    if nan==True:
        df[df.columns] = np.NaN
    
    return df

# to_df(['US_UNEMPLOYMENT_RATE']).plot(figsize=(14,4))

In [4]:
def to_index(df):
    temp = df.iloc[0]
    
    return df/temp*100

In [5]:
def get_end_month(df):
    df = df.sort_index()
    df['year'] = df.index.year
    df['month'] = df.index.month
    df = df.drop_duplicates(subset=['year', 'month'], keep='last')
    df = df.drop(['year', 'month'], axis=1)
    
    return df

In [6]:
def get_all_month(df, target_list, start_date=None, end_date=None):
    temp = to_df(target_list, start_date=start_date, end_date=end_date, nan=True)
    temp.loc[df.index] = df
    temp = temp.ffill().bfill()
    
    return temp

In [7]:
def get_bool(df):
    df = df.sort_index()
    for col in df.columns:
        df[col] = np.where(df[col]>=0, True, False)
        
    return df

In [8]:
def get_date_ago_year(date_):
    if type(date_)==str:
        date_ = str(int(date_[:4])-1)+date_[4:]
    if type(date_)==pd._libs.tslibs.timestamps.Timestamp:
        date_ = pd.Timestamp(year=date_.year-1, month=date_.month, day=date_.day)
    if type(date_)==datetime:
        date_ = date_ - relativedelta(years=1)
    return date_

get_date_ago_year('2010-01-01')

'2009-01-01'

In [9]:
# FAA

In [10]:
FAA_list = ['VTI', 'VEA', 'VWO', 'SHY', 'BND', 'GSG', 'VNQ']
C = ['VFISX']

In [12]:
start_date=None
end_date=None

In [13]:
# 4개월 월간 수익률
df_m = get_end_month(to_df(FAA_list, start_date=get_date_ago_year(start_date), end_date=end_date)).pct_change(4).dropna()
df_ri = df_m.copy()
for idx, row in df_m.iterrows():
    col = row.sort_values(ascending=False).index
    df_ri.loc[idx, col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
df_ri = df_ri.astype(int)

In [15]:
# 일일수익률의 4개월치 변동성, 상관성
df = to_df(FAA_list, start_date=get_date_ago_year(start_date), end_date=end_date).pct_change().dropna()
end_month = get_end_month(df).index

In [17]:
vi_list = []
ci_list = []
for i in range(len(end_month)-4):
    s = df.loc[end_month[i]: end_month[i+4]]

    vi = s.std()
    col = vi.sort_values().index
    vi[col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
    vi_list.append(vi)

    ci = s.corr()
    ci = ci[ci!=1].mean()
    col = ci.sort_values().index
    ci[col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
    ci_list.append(ci)

In [25]:
df_vi = pd.DataFrame(vi_list, index=df_ri.index).astype(int)
df_ci = pd.DataFrame(ci_list, index=df_ri.index).astype(int)

In [34]:
L = df_ri*1 + df_vi*0.5 + df_ci*0.5  # 순위
L = L.loc[start_date:end_date]

In [38]:
df_m = df_m.loc[start_date:end_date]

In [78]:
col_list_list = []
for idx, row in L.iterrows():
    rank3_s = df_m.loc[idx, row.sort_values()[:3].index]
    col_list = []
    for k, v in (rank3_s<0).items():
        if v:
            col_list.append(C[0])
        else:
            col_list.append(k)
    # df_m.loc[idx, 'signal'] = ' '.join(col_list)
    col_list_list.append(list(set(col_list)))
    # print(idx, col_list)

In [82]:
df_m['signal'] = col_list_list
df_bool = to_df(FAA_list+C, start_date=start_date, end_date=end_date, bool_=True)
df_bool = pd.concat([df_bool, df_m['signal']], axis=1)
df_bool['signal'] = df_bool['signal'].ffill().bfill()

In [83]:
for k, v in df_bool['signal'].items():
    df_bool.loc[k, v] = True

In [84]:
df_bool = df_bool.drop(['signal'], axis=1)
df_bool = df_bool.dropna()

In [90]:
df_weight = df_bool.copy()

for idx, row in df_weight.iterrows():
    
    if (row[C[0]])&(row.sum()==2):
        df_weight.loc[idx, FAA_list] = df_weight.loc[idx, FAA_list]/3
        df_weight.loc[idx, C] = 2/3
    else:
        df_weight.loc[idx] = row/row.sum()

In [ ]:
# 백테스팅
strategy_name = strategy_name
RMTEST = bt.Strategy(
    strategy_name,
    algos = [
        bt.algos.RunMonthly(
            run_on_first_date=False,
            run_on_end_of_period=True,
            run_on_last_date=True
        ),
        # bt.algos.PrintInfo('{name}:{now}. Value:{_value:0.0f}, Price:{_price:0.4f}'),
        # bt.algos.SelectAll(),
        bt.algos.SelectWhere(df_bool),
        bt.algos.WeighTarget(df_weight),
        # bt.algos.PrintTempData(),
        bt.algos.Rebalance()
    ]
)

t = bt.Backtest(RMTEST, to_df(FAA_list+C, start_date=start_date, end_date=end_date))
report = bt.run(t)

# 그림 그려줌?
if plot==True:
    report.prices.plot()

if html==True:
    qs.reports.html(
        report.prices.squeeze(),
        benchmark=benchmark,
        title=strategy_name,
        download_filename='../res/' + strategy_name + '.html',
        output=True,
    )

In [64]:
def get_FAA(strategy_name='FAA', start_date=None, end_date=None, plot=False, html=False, benchmark=None):
    
    FAA_list = ['VTI', 'VEA', 'VWO', 'SHY', 'BND', 'GSG', 'VNQ']
    C = ['VFISX']

    # 4개월 월간 수익률
    df_m = get_end_month(to_df(FAA_list, start_date=get_date_ago_year(start_date), end_date=end_date)).pct_change(4).dropna()
    df_ri = df_m.copy()
    for idx, row in df_m.iterrows():
        col = row.sort_values(ascending=False).index
        df_ri.loc[idx, col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
    df_ri = df_ri.astype(int)

    # 일일수익률의 4개월치 변동성, 상관성
    df = to_df(FAA_list, start_date=get_date_ago_year(start_date), end_date=end_date).pct_change().dropna()
    end_month = get_end_month(df).index
    vi_list = []
    ci_list = []
    for i in range(len(end_month)-4):
        s = df.loc[end_month[i]: end_month[i+4]]

        vi = s.std()
        col = vi.sort_values().index
        vi[col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
        vi_list.append(vi)

        ci = s.corr()
        ci = ci[ci!=1].mean()
        col = ci.sort_values().index
        ci[col] = [i+1 for i in range(len(FAA_list))] # [1,2,3,4,5,6,7]
        ci_list.append(ci)

    df_vi = pd.DataFrame(vi_list, index=df_ri.index).astype(int)
    df_ci = pd.DataFrame(ci_list, index=df_ri.index).astype(int)

    L = df_ri*1 + df_vi*0.5 + df_ci*0.5  # 순위
    L = L.loc[start_date:end_date]

    df_m = df_m.loc[start_date:end_date]
    col_list_list = []
    for idx, row in L.iterrows():
        rank3_s = df_m.loc[idx, row.sort_values()[:3].index]
        col_list = []
        for k, v in (rank3_s<0).items():
            if v:
                col_list.append(C[0])
            else:
                col_list.append(k)
        # df_m.loc[idx, 'signal'] = ' '.join(col_list)
        col_list_list.append(list(set(col_list)))
        # print(idx, col_list)
    df_m['signal'] = col_list_list
    
    df_bool = to_df(FAA_list+C, start_date=start_date, end_date=end_date, bool_=True)
    df_bool = pd.concat([df_bool, df_m['signal']], axis=1)
    df_bool['signal'] = df_bool['signal'].ffill().bfill()
    for k, v in df_bool['signal'].items():
        df_bool.loc[k, v] = True

    df_bool = df_bool.drop(['signal'], axis=1)
    df_bool = df_bool.dropna()
    
    df_weight = df_bool.copy()
    
    for idx, row in df_weight.iterrows():
        if (row[C[0]])&(row.sum()==2):
            df_weight.loc[idx, FAA_list] = df_weight.loc[idx, FAA_list]/3
            df_weight.loc[idx, C] = 2/3
        else:
            df_weight.loc[idx] = row/row.sum()
            
    # 백테스팅
    strategy_name = strategy_name
    RMTEST = bt.Strategy(
        strategy_name,
        algos = [
            bt.algos.RunMonthly(
                run_on_first_date=False,
                run_on_end_of_period=True,
                run_on_last_date=True
            ),
            # bt.algos.PrintInfo('{name}:{now}. Value:{_value:0.0f}, Price:{_price:0.4f}'),
            # bt.algos.SelectAll(),
            bt.algos.SelectWhere(df_bool),
            bt.algos.WeighTarget(df_weight),
            # bt.algos.PrintTempData(),
            bt.algos.Rebalance()
        ]
    )
    
    t = bt.Backtest(RMTEST, to_df(FAA_list+C, start_date=start_date, end_date=end_date))
    report = bt.run(t)
    
    # 그림 그려줌?
    if plot==True:
        report.prices.plot()
    
    if html==True:
        qs.reports.html(
            report.prices.squeeze(),
            benchmark=benchmark,
            title=strategy_name,
            download_filename='../res/' + strategy_name + '.html',
            output=True,
        )
    
    return report

start_date = '2015-01-01'
end_date = '2022-12-31'
FAA = get_FAA(strategy_name='FAA', start_date=start_date, end_date=end_date, plot=False, html=True, benchmark=None)
FAA.stats

                                       FAA
start                  2015-01-01 00:00:00
end                    2022-12-30 00:00:00
rf                                     0.0
total_return                      0.055337
cagr                               0.00676
max_drawdown                     -0.191785
calmar                            0.035247
mtd                              -0.013064
three_month                       0.003203
six_month                        -0.029932
ytd                               0.027769
one_year                          0.026651
three_year                        0.063049
five_year                         0.025973
ten_year                               NaN
incep                              0.00676
daily_sharpe                      0.122489
daily_sortino                      0.18211
daily_mean                        0.010279
daily_vol                         0.083914
daily_skew                       -0.803401
daily_kurt                        4.720224
best_day                          0.021855
worst_day                        -0.035268
monthly_sharpe                    0.130552
monthly_sortino                   0.219317
monthly_mean                      0.009327
monthly_vol                       0.071443
monthly_skew                      0.095776
monthly_kurt                      0.949397
best_month                        0.068164
worst_month                      -0.048548
yearly_sharpe                       0.4897
yearly_sortino                    1.434411
yearly_mean                       0.030244
yearly_vol                        0.061759
yearly_skew                      -0.072869
yearly_kurt                      -1.824326
best_year                         0.108725
worst_year                       -0.049085
avg_drawdown                     -0.032318
avg_drawdown_days                    167.0
avg_up_month                      0.014029
avg_down_month                   -0.016676
win_year_perc                     0.571429
twelve_month_win_perc             0.458824

## 4. PAA 전략(연수님과 최종 논문 검증)

We will backtest the PAA models described above using monthly ETF-proxies from Dec 1970 – Dec 2015
(45 years). We will use a global multi-asset “risky” universe consisting of proxies for the following N=12 
ETFs: 
- SPY, QQQ, IWM (US equities: S&P500, Nasdaq100 and Russell2000 Small Cap, respectively),
- VGK, EWJ (Developed International Market equities: Europe and Japan, respectively), 
- EEM (Emerging Market equities), 
- IYR, GSG, GLD (alternatives: REIT, Commodities, Gold, respectively.), 
- HYG, LQD and TLT (High Yield bonds, Investment Grade Corporate bonds and Long Term US 
Treasuries, respectively.).

We will call our best scenario (L=12m, Top=6) for a=2 the high-protection PAA strategy, PAA2 in short. In 
the next section we will also review the low and medium protection strategies PAA0 and PAA1 (with a=0 
and a=1 respectively) with the same L=12m and Top=6.

L=12m (long lookback, so less turnover), a=2 (high protection), Top=6 (most diversified)

MOM(L) = p0/SMA(L) - 1 

PAA2 IEF
PAA2 SHY
PAA2 SHY/IEF
PAA2 BIL
PAA2 BIL/SHY
PAA2 BIL/SHY/IEF

In [99]:
C=['IEF']
PAA_list = ['SPY', 'QQQ', 'IWM', 'VGK', 'EWJ', 'EEM', 'IYR', 'GSG', 'GLD', 'HYG', 'LQD', 'TLT']

In [96]:
df_m = get_end_month(to_df(PAA_list, start_date=get_date_ago_year(start_date), end_date=end_date))
df_m_12 = df_m.rolling(window=12).mean().dropna().loc[start_date:end_date]
df_m = df_m.loc[start_date:end_date]

In [97]:
MOM = df_m/df_m_12 - 1
MOM = MOM.dropna()

In [101]:
MOM[C[0]] = ((MOM<0).sum(axis=1)/(0.5*len(PAA_list))).apply(lambda x: 1 if x>1 else x) # 수익률 < 이동평균12개월 자산 갯수(BAD갯수 0~12)

In [102]:
MOM

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
,,,,,,,,,,,,,
2014-04-30,0.073246,0.070256,0.032462,0.090958,-0.034636,0.015389,0.057592,0.030350,-0.008810,0.014368,0.022944,0.028720,0.333333
2014-05-30,0.083111,0.097696,0.028673,0.083784,-0.000435,0.049189,0.083092,0.021868,-0.030354,0.018336,0.035239,0.056783,0.333333
2014-06-30,0.082303,0.103601,0.065258,0.047146,0.037712,0.058505,0.077631,0.035238,0.024778,0.018390,0.028964,0.048918,0.000000
2014-07-31,0.055896,0.095658,-0.008641,-0.006137,0.036689,0.067354,0.069580,-0.019752,-0.009420,-0.003565,0.020490,0.048100,0.833333
2014-08-29,0.079337,0.123955,0.026892,-0.008508,0.007908,0.076339,0.090508,-0.030858,0.001563,0.004725,0.031991,0.083874,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,0.008302,-0.024800,0.034831,0.085370,0.049022,0.020464,-0.017204,-0.048961,0.066145,-0.006268,-0.003635,-0.054494,1.000000
2023-02-28,-0.008778,-0.013827,0.023979,0.070964,0.013656,-0.035747,-0.063688,-0.084635,0.013234,-0.017295,-0.033799,-0.076762,1.000000
2023-03-31,0.033165,0.090826,-0.017265,0.095566,0.066528,0.007359,-0.067537,-0.086281,0.092047,-0.003365,0.007675,-0.015313,0.833333
2023-04-28,0.048803,0.093482,-0.030553,0.132247,0.062812,0.006272,-0.043145,-0.080448,0.097165,0.003646,0.013973,-0.004504,0.666667
2023-05-23,0.043909,0.122144,-0.014685,0.101934,0.089084,0.007226,-0.067409,-0.089113,0.082449,-0.005512,-0.009694,-0.043707,1.000000

In [134]:
df_bool = get_end_month(to_df(PAA_list+C, start_date=start_date, end_date=end_date, bool_=True))
df_bool[C[0]] = True

In [135]:
df_weight = df_bool.copy()
df_weight[df_weight.columns] = 0
df_weight[C] = MOM[C]

In [136]:
for idx, row in MOM.iterrows():
    if row[C[0]]==1: # 현금비율이 1이면
        pass
    else: # 현금비율이 1이 아니면
        col_6 = row[PAA_list].sort_values(ascending=False)[:6].index
        df_bool.loc[idx, col_6] = True
        df_weight.loc[idx, col_6] = (1 - df_weight.at[idx, C[0]])/6
        if row[C[0]]==0: # 현금비율이 0이면
            df_bool.loc[idx, C[0]] = False

In [138]:
df_bool = get_all_month(df_bool, PAA_list+C, start_date=start_date, end_date=end_date)
df_weight = get_all_month(df_weight, PAA_list+C, start_date=start_date, end_date=end_date)

In [129]:
df = to_df(PAA_list+C, start_date=start_date, end_date=end_date)

In [130]:
df

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
,,,,,,,,,,,,,
2013-05-10,163.41,72.75,96.83,52.33,46.443552,43.529551,73.84,31.580635,139.60,95.649761,120.250756,118.75,107.243065
2013-05-13,163.54,72.84,96.76,52.05,47.340724,43.162229,73.95,31.506482,138.43,95.488442,119.998158,117.84,107.107697
2013-05-14,165.23,73.22,98.00,52.21,47.110128,43.371483,74.34,31.402868,137.81,95.293758,119.889741,116.56,106.851327
2013-05-15,166.12,73.37,98.20,52.36,48.008380,43.371895,75.00,31.360685,134.63,95.198919,119.834776,117.34,106.951346
2013-05-16,165.34,73.29,97.95,52.13,47.973932,43.377827,74.76,31.526890,134.09,95.205990,120.506849,118.56,107.574860
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-17,415.23,331.12,176.12,62.63,60.723899,39.258243,83.04,19.414271,184.23,74.118476,107.045519,102.58,98.548648
2023-05-18,419.23,337.27,177.19,62.51,60.808112,39.097406,82.67,19.264439,181.84,73.964455,106.559927,101.82,97.914128
2023-05-19,418.62,336.51,176.11,62.97,60.837749,39.067628,82.56,19.214051,183.64,74.036222,106.409272,101.10,97.553201
2023-05-22,418.79,337.64,178.26,62.89,61.145063,39.348580,83.08,19.251552,183.21,74.204854,106.430666,100.74,97.421491
2023-05-23,414.09,333.36,177.42,61.97,60.223186,38.907967,82.19,19.326464,183.43,74.064954,106.620210,101.03,97.567092

In [65]:
def get_PAA(C=['IEF'], strategy_name='PAA', start_date=None, end_date=None, plot=False, html=False, benchmark=None):
    PAA_list = ['SPY', 'QQQ', 'IWM', 'VGK', 'EWJ', 'EEM', 'IYR', 'GSG', 'GLD', 'HYG', 'LQD', 'TLT']
    
    df_m = get_end_month(to_df(PAA_list, start_date=get_date_ago_year(start_date), end_date=end_date))
    df_m_12 = df_m.rolling(window=12).mean().dropna().loc[start_date:end_date]
    df_m = df_m.loc[start_date:end_date]

    MOM = df_m/df_m_12 - 1
    MOM = MOM.dropna()
    MOM[C[0]] = ((MOM<0).sum(axis=1)/(0.5*len(PAA_list))).apply(lambda x: 1 if x>1 else x) # 수익률 < 이동평균12개월 자산 갯수(BAD갯수 0~12)

    df_bool = get_end_month(to_df(PAA_list+C, start_date=start_date, end_date=end_date, bool_=True))
    df_bool[C[0]] = True

    df_weight = df_bool.copy()
    df_weight[df_weight.columns] = 0
    df_weight[C] = MOM[C]

    for idx, row in MOM.iterrows():
        if row[C[0]]==1: # 현금비율이 1이면
            pass
        else: # 현금비율이 1이 아니면
            col_6 = row[PAA_list].sort_values(ascending=False)[:6].index
            df_bool.loc[idx, col_6] = True
            df_weight.loc[idx, col_6] = (1 - df_weight.at[idx, C[0]])/6
            if row[C[0]]==0: # 현금비율이 0이면
                df_bool.loc[idx, C[0]] = False

    df_bool = get_all_month(df_bool, PAA_list+C, start_date=start_date, end_date=end_date)
    df_weight = get_all_month(df_weight, PAA_list+C, start_date=start_date, end_date=end_date)

    df = to_df(PAA_list+C, start_date=start_date, end_date=end_date)
    
    strategy_name = strategy_name
    RMTEST = bt.Strategy(
        strategy_name,
        algos = [
            bt.algos.RunMonthly(
                run_on_first_date=False,
                run_on_end_of_period=True,
                run_on_last_date=True
            ),
            # bt.algos.PrintInfo('{name}:{now}. Value:{_value:0.0f}, Price:{_price:0.4f}'),
            # bt.algos.SelectAll(),
            bt.algos.SelectWhere(df_bool),
            bt.algos.WeighTarget(df_weight),
            # bt.algos.PrintTempData(),
            bt.algos.Rebalance()
        ]
    )
    
    t = bt.Backtest(RMTEST, df)
    report = bt.run(t)
    
    # 그림 그려줌?
    if plot==True:
        report.prices.plot()
    
    if html==True:
        qs.reports.html(
            report.prices.squeeze(),
            benchmark=benchmark,
            title=strategy_name,
            download_filename='../res/' + strategy_name + '.html',
            output=True,
        )
    
    return report

start_date = '2015-01-01'
end_date = '2022-12-31'
benchmark = get_benchmark(start_date=start_date, end_date=end_date)
PAA = get_PAA(strategy_name='PAA', start_date=start_date, end_date=end_date, plot=False, html=True, benchmark=benchmark)
PAA.stats

                                       PAA
start                  2015-01-01 00:00:00
end                    2022-12-30 00:00:00
rf                                     0.0
total_return                      0.205418
cagr                              0.023644
max_drawdown                     -0.221495
calmar                            0.106749
mtd                              -0.017744
three_month                      -0.001929
six_month                        -0.063006
ytd                               -0.17016
one_year                         -0.170503
three_year                       -0.013341
five_year                         0.015889
ten_year                               NaN
incep                             0.023644
daily_sharpe                      0.383765
daily_sortino                     0.612104
daily_mean                        0.025603
daily_vol                         0.066716
daily_skew                       -0.231844
daily_kurt                        2.775212
best_day                          0.022427
worst_day                        -0.021816
monthly_sharpe                    0.401195
monthly_sortino                   0.706513
monthly_mean                      0.025642
monthly_vol                       0.063914
monthly_skew                       -0.0805
monthly_kurt                      0.703155
best_month                        0.050816
worst_month                      -0.048764
yearly_sharpe                     0.382681
yearly_sortino                    0.568986
yearly_mean                       0.036594
yearly_vol                        0.095625
yearly_skew                      -2.153396
yearly_kurt                       5.104629
best_year                         0.119071
worst_year                        -0.17016
avg_drawdown                     -0.015796
avg_drawdown_days                43.803279
avg_up_month                      0.014614
avg_down_month                   -0.012951
win_year_perc                     0.857143
twelve_month_win_perc             0.823529